*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  min-height: 100vh;
  max-width: 100%;
}

header{
  background-color: rgb(255, 228, 50);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .cart-button{
  border: none;
  background: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  transition: .2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
header .cart-button:hover{
  background-color: rgba(251, 255, 227, 0.58);
}
.cart-button img{
  width: 2rem;
}

.main{
  margin-top: 2rem;
  padding: 0 2rem;
}

.product-list{
  display: flex;
  gap: 2rem;
  list-style: none;
}
